# Maven
target/
.mvn/wrapper/maven-wrapper.jar

# IDEs
.idea/
*.iml
*.ipr
*.iws
.project
.classpath
.settings/
.springBeans
.sts4-cache
.vscode/

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# Configurações sensíveis
.env

# Logs
*.log
